h1{
  position: absolute;
width: 738px;
height: 240px;
left: 495px;
top: 25px;

font-family: 'Italianno';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 120px;
text-align: center;

color: #00FFFF;
}
  img{

position: absolute;
width: 380px;
height: 286px;
left: 0px;
top: 0px;

  }
